<h1>Search your friend by their gender</h1>
You can use the URL: '/getnames/:name/:sex' to get a JSON object with all of the
documents in the Name collection with the specified name. For example, to the
counts of the numbers of boys with the name "Timothy" from 2000 to 2020, visit
the URL '/getfriends/male'

<hr />
<ul>
  <li><a href="/getfriends/m">Male friends</a></li>
  <li><a href="/getfriends/f">Female friends</a></li>
</ul>
