<h1>Search your friend by their gender</h1>
You can use the URL: '/getnames/:gender' to get a JSON object with all of the
documents in the Name collection with the specified gender.

<hr />
<ul>
  <li><a href="/getfriends/male">Male friends</a></li>
  <li><a href="/getfriends/female">Female friends</a></li>
</ul>
<hr />
<form method="post" action="/mongodb/add">
  first name:<input type="text" name="firstName" /><br />
  last name:<input type="text" name="lastName" /><br />
  gender:<input type="text" name="gender" /><br />
  age:<input type="number" name="age" /><br />
  <input type="submit" value="Save" /><br />
</form>
